# Dependencies
node_modules/

# Authentication & Session
auth_info/
baileys_store.json

# Saved Data (Monitored Content)
deleted_media/
msg_cache.json
whitelist.json

# Environment & Logs
.env
*.log
npm-debug.log*

# System Files
.DS_Store
.idea/
.vscode/
